.ml32{margin-left: 32px;}
.header {clear:both; width:960px; margin:6px auto 7px; text-align:left;}
.header h1 {float:left; margin-top:9px; font-family:'黑体'; font-size:26px; font-weight:bold;}
.header .logo {float:left; margin:0 4px 0 5px;}
.header .nav {display:inline; float:right; margin:23px 4px 0 0;}
.header .nav a {padding:0 5px;}
.area {clear:both; width:960px; margin:0 auto; text-align:left;}
.footer {clear:both; width:960px; margin:0 auto; color:#000;}
.footer a,.footer a:visited {color:#1e50a2;}
.footer a:hover {color:#ba2636;}
.colLM {width:748px; float:left; border:1px solid #B1C8D7; border-top:none;}
.colR {width:198px; float:right; border:1px solid #B1C8D7; border-top:none;}
.titleBar {clear:both; height:25px; line-height:24px; border-top:1px solid #B1C8D7;}
.titleBar h2 {padding-left:19px; font-size:14px; font-weight:bold; color:#1E50A2; background:#F7F7F7;}
.titleBar h2 a,.titleBar h2 a:visited {color:#1E50A2;}
.content {background:url(../img/sitemap/conbg.jpg) left top repeat-x;}
.linkBox,.linkBox1,.linkBox2 {padding:11px 6px 15px 19px;}
.link {color:#C1C1C1; line-height:21px; clear:both; display:block;}
.link a,.link a:visited {color:#1e50a2;}
.link a:hover {color:#ba2636;}
.sup_n {padding:0 19px 0 0; background:url(../img/sitemap/all_gif.gif) right -63px no-repeat;}
.sup_n sup {display:none;}
.linkBox h3 {float:left; line-height:21px; margin:0 8px 0 0; font-weight:bold; color:#1e50a2;}
.linkBox .link {line-height:21px; margin:4px 0 9px 0;}
.linkBox .link a {padding:0 6px;}
.linkBox1 h3 {float:left; width:66px; margin:0 12px 5px 0; line-height:21px; font-weight:bold; color:#1e50a2;}
.linkBox1 .link {margin:4px 0 9px 0;}

.linkBox2 h3 {float:left; width:66px; margin:0 12px 5px 0; line-height:21px; font-weight:bold; color:#1e50a2;}
.linkBox2 .link {margin:4px 0 9px 0;}
.linkBox2 .link a {padding:0 12px 0 14px;}
.linkBox .link h3 a,.linkBox1 .link h3 a,.linkBox2 .link h3 a,.linkBox .link h3 a:hover,.linkBox1 .link h3 a:hover,.linkBox .link h3 a:hover {padding:0; color:#1E50A2;}
.conBg {background:#F5F8FC;}
.imgList {width:180px; overflow:hidden; margin:0 auto;}
.imgList ul {clear:both; margin:0 0 12px; width:210px; zoom:1;}
.imgList li {float:left; margin:12px 8px 0 0;}
.imgList img {border:1px solid #dcdddd;}
.dotline {clear:both; height:1px; margin-top:12px; display:block; overflow:hidden; background:url(../img/sitemap/dotline.gif) left top repeat-x;}
.aboutNetease { margin:12px auto 0; width:958px; height:25px; background:#F2F6FB; border:1px solid #ccc;}
.aboutNetease li{padding:7px 0 0;  color:#CBCBCB;}
.aboutNetease li a{color:#1e50a2; padding:0 5px;}
.aboutNetease li a:visited{color:#1e50a2;}
.aboutNetease li a:hover{color:#bc2636;}

.footer{font: 12px/1.5 'PingFang SC','microsoft yahei',tahoma,arial,'helvetica neue','hiragino sans gb',sans-serif;}
.bg_r{background:rgba(255,0,0,0.2);border-radius:15px;padding:3px 5px;}
