/*for tpl4 markdwon inserted html*/
p{text-indent:2em;}

/*本页R代码过长: 最长n px,超过了出现滚动条*/
.notranslate{max-height:400px; overflow-y:scroll;}

.light{color: #aaa;}
.red{color:red;}

/**
* for tpl4 style
*/
/* markdown 目录中，段落前空几格 */
.indent_1{text-indent: 0em;}
.indent_2{text-indent: 2em;}
.indent_3{text-indent: 4em;}
.indent_4{text-indent: 6em;}
.indent_5{text-indent: 8em;}
.indent_6{text-indent: 10em;}



/*顶部目录结构*/
ul.toc li {
    margin: 5px;
	list-style-type: none;
	background-image: none;
}
ul.toc li:hover{
    background: #efefef;
}



.markdown ul li{
    margin: 3px 0px 3px 13px;
}

/*h1 in markdown*/
.markdown h1{
	text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
	
    border-bottom: 3px solid black;
}

.markdown h2{
	border-bottom: 1px solid #ccc;
}

.markdown code {
    border-radius: 2px;
    color: #e96900;
    /*
    margin: 0 2px;
	padding: 3px 5px;
	*/
	background-color: #f8f8f8;
    white-space: pre-wrap;
}

.markdown pre>code {
    color: #525252;
    font-family: Roboto Mono,Monaco,courier,monospace;
    /*
    font-size: .8rem;
    padding: 2.2em 5px;
    line-height: inherit;
    margin: 0 2px;
    max-width: inherit;
    overflow: inherit;
	white-space: inherit;
	*/
}


/* headers: 最多支持3级目录，再细没有意义 */
.markdown h1:after{ content: "H1"; color: #efefef; }
.markdown h1:hover:after{ color: #eaa; }

.markdown h2:after{ content: "H2"; color: #efefef; }
.markdown h2:hover:after{ color: #eaa; }

.markdown h3:after{ content: "H3"; color: #efefef; }
.markdown h3:hover:after{ color: #eaa; }